# HW 2

## Introduction

* In this homework you will download an html file from Yahoo Finance that contains a table of stock prices, trade volumes etc.
* You can look at an example web page by following this link <https://finance.yahoo.com/quote/MSFT/history?p=MSFT>
* Once you have the data you will clean the file so that it is suitable for analysis.
* Finally you will create some statistical summaries of the data.
* In a subsequent homework we will use a similar data set for some plotting activities.

## Q1. 
### 5 pts.

a. Choose a stock ticker symbol. You can use 'MSFT' if you want, but you don't have to. Store the symbol in a variable called "stock".

b. Create a new string variable called "url" that is the url of the Yahoo stock web page. It needs to look just like the link above with the ticker symbol embedded (in two places). You shouldn't hard code the stock symbol into the url, but rather use the .format() method on the string together with the {} notation to create the url. An example of this syntax is on the slide "breaking out of a for loop", slide 5.9, Class 2.

c. Print the url variable and make sure it resembles the link above (just with your chosen ticker symbol).

In [40]:
# Q1 code goes here.

#1a.
stock = "MSFT"

#1b.
url = "https://finance.yahoo.com/quote/{stock}/history?p={stock}".format(stock = "MSFT")

#1c.
print(url)

https://finance.yahoo.com/quote/MSFT/history?p=MSFT

## Q2. Read in the html file and list the column names
### 6pts.

a. Use the pd.read_html() command to obtain the data. Recall that the command returns a list of data frames, so pick off the first element. Call the data frame "stock_data".

b. Obtain and print the dimensions of data frame.

c. Obtain and print the names of all the columns.

d. Obtain and print the data types.

e. What is the problem with the data type in terms of the Volume variable?

In [41]:
# Q2 code goes here
import pandas as pd

#2a.
stock_data = pd.read_html("https://finance.yahoo.com/quote/MSFT/history?p=MSFT", index_col = 0)[0]

#2b.
print(stock_data.shape)

#2c.
print(stock_data.columns)

#2d.
print(stock_data.dtypes)

#2e.
# The problem with the data type in terms of the Volume variable is that all the elements in the Volume column are not of numeric (integer or float) data type.

(101, 6)
Index(['Open', 'High', 'Low', 'Close*', 'Adj Close**', 'Volume'], dtype='object')
Open           object
High           object
Low            object
Close*         object
Adj Close**    object
Volume         object
dtype: object

## Q3 
### 6pts.

a. Using the .iloc method print out the last row of the data frame.

b. Comment on the values in it with respect to what they should look like.

c. Remove the last row from the stock_data data frame using the DataFrame ".drop" method with the 'inplace' argument set to True. 

d. Print the last row of the updated data frame to confirm that the erroneous row has been dropped.

In [42]:
# Q3 code goes here

#3a.
print(stock_data.iloc[-1])

#3b.
# The values in the last row of the data frame should be numeric.

#3c.
stock_data.drop(stock_data.index[-1], inplace = True)

#3d.
print(stock_data.iloc[-1])

Open           *Close price adjusted for splits.**Adjusted cl...
High           *Close price adjusted for splits.**Adjusted cl...
Low            *Close price adjusted for splits.**Adjusted cl...
Close*         *Close price adjusted for splits.**Adjusted cl...
Adj Close**    *Close price adjusted for splits.**Adjusted cl...
Volume         *Close price adjusted for splits.**Adjusted cl...
Name: *Close price adjusted for splits.**Adjusted close price adjusted for both dividends and splits., dtype: object
Open             152.41
High             163.71
Low              152.00
Close*           162.01
Adj Close**      161.56
Volume         97073600
Name: Feb 28, 2020, dtype: object

## Q4
### 6pts.

* It turns out that there another row in the data frame that is also causing trouble. It has a character string in it and the row is about half way down the data frame. Because of this, the Volume column is treated as a string type. 
* You need to turn this column into a **numeric** column.
* pandas has a function to do this and it is called 'to_numeric', and with the 'error' argument set to 'coerce', it will turn any strings into NaN.  

a. Write a for loop that prints out every single entry of the Volume column (this will help you see the underlying problem).

b. Use the 'pd.to_numeric' to turn the stock_data Volume column to a numeric type.

c. Print the data types in the data frame to confirm that this has worked.

In [43]:
# Q4 code goes here

#4a.
for i in stock_data["Volume"]:
    print(i)

#4b.
stock_data["Volume"] = pd.to_numeric(stock_data["Volume"], errors = "coerce")

#4c.
print(stock_data["Volume"].dtypes)

36801800
31635300
29940700
32179400
37591800
38135600
26177600
33121700
33600000
33600700
31897600
29315800
32061200
34310300
26701600
54675800
27803900
36740600
30917400
32818900
44441100
23061600
25655900
42556700
32770200
43345700
52854700
43872300
29783900
33211600
39893600
28761800
27311000
30794600
22622400
42146700
33810200
39517100
36073600
20826900
29119500
31261300
0.51 Dividend
26799100
35306600
46610400
41873900
44711500
32038200
30809400
30912600
28316000
32139300
36839200
30372900
39370500
53661300
51286600
34392700
33194400
34305300
32790800
34651600
56203700
36669600
52765600
50479600
40940800
52874300
41905300
51431800
48318200
62769000
67111700
41243300
49630700
57969900
77927200
63420300
57042300
64568100
75638200
82516700
78975200
84866200
85922700
81593200
81059800
87905900
92727400
93226400
56371600
65354400
70419300
72821100
47817300
49814400
71677000
71030800
97073600
float64

## Q5
### 9 pts.

Using the Volume column in the cleaned data frame find and print:

a. The average volume:  .mean()

b. The median volume: .median()

c. The standard deviation of the volume: .std()

d. The 5th and 95th quantiles of volume (put the appropriate values in the list): .quantile([ , ])

> For parts e and f, use the result of .idmax() and .idmin() as an index into the Date column.

e. The day on which the maximum volume occurred: .idxmax()

f. The day on which the minimum volume occurred: .idxmin()

g. Use the .describe() function for an overall summary of the Volume column.

In [44]:
# Q5 code goes here

#5a.
print(stock_data["Volume"].mean())

#5b.
print(stock_data["Volume"].median())

#5c.
print(stock_data["Volume"].std())

#5d.
print(stock_data["Volume"].quantile([0.05, 0.95]))

#5e.
print(stock_data["Volume"].idxmax())

#5f.
print(stock_data["Volume"].idxmin())

#5g.
print(stock_data["Volume"].describe())

46203888.88888889
39517100.0
18908651.627851382
0.05    26649200.0
0.95    84971850.0
Name: Volume, dtype: float64
Feb 28, 2020
May 22, 2020
count    9.900000e+01
mean     4.620389e+07
std      1.890865e+07
min      2.082690e+07
25%      3.210025e+07
50%      3.951710e+07
75%      5.543975e+07
max      9.707360e+07
Name: Volume, dtype: float64

## Q6.
###  4 pts.
Note that the first column in the data frame contains date data but it is being viewed as type 'string'.

a. Overwrite and caste this column as a date column using the pd.to_datetime() function, as in the Class 4 notes, slide 7.7.

b. Print the type of the first element in the new Date column to confirm it is now a valid date type.

In [45]:
# Q6 code goes here

#6a.
stock_data["Date"] = pd.to_datetime(stock_data.index, format = "%b %d, %Y")

#6b. 
print(type(stock_data["Date"][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

## Q7.
### 5 pts.

a. Create a new variable in the data frame called 'DayOfWeek' by using the .dt.day_name function.

b. Create a new variable in the data frame called 'MonthOfYear' by using the .dt.month_name function.

c. Print out all the columns in the stock_data data frame to confirm that the new columns are there.

In [46]:
# Q7 code goes here

#7a. Create day of week.
stock_data["DayOfWeek"] = stock_data["Date"].dt.day_name()

#7b. Create month of year.
stock_data["MonthOfYear"] = stock_data["Date"].dt.month_name()

#7c.
print(stock_data)

                Open    High     Low  Close* Adj Close**      Volume  \
Date
Jul 20, 2020  205.00  212.30  203.01  211.60      211.60  36801800.0
Jul 17, 2020  204.47  205.04  201.39  202.88      202.88  31635300.0
Jul 16, 2020  205.40  205.70  202.31  203.92      203.92  29940700.0
Jul 15, 2020  209.56  211.33  205.03  208.04      208.04  32179400.0
Jul 14, 2020  206.13  208.85  202.03  208.35      208.35  37591800.0
...              ...     ...     ...     ...         ...         ...
Mar 05, 2020  166.05  170.87  165.69  166.27      165.81  47817300.0
Mar 04, 2020  168.49  170.70  165.62  170.55      170.08  49814400.0
Mar 03, 2020  173.80  175.00  162.26  164.51      164.05  71677000.0
Mar 02, 2020  165.31  172.92  162.31  172.79      172.31  71030800.0
Feb 28, 2020  152.41  163.71  152.00  162.01      161.56  97073600.0

                   Date  DayOfWeek MonthOfYear
Date
Jul 20, 2020 2020-07-20     Monday        July
Jul 17, 2020 2020-07-17     Friday        July
Jul 16, 2020 2020-07-16   Thursday        July
Jul 15, 2020 2020-07-15  Wednesday        July
Jul 14, 2020 2020-07-14    Tuesday        July
...                 ...        ...         ...
Mar 05, 2020 2020-03-05   Thursday       March
Mar 04, 2020 2020-03-04  Wednesday       March
Mar 03, 2020 2020-03-03    Tuesday       March
Mar 02, 2020 2020-03-02     Monday       March
Feb 28, 2020 2020-02-28     Friday    February

[100 rows x 9 columns]

## Q8.
### 4 pts.

a. Print out the number of observations for each day of the week. Use the .value_counts() method.

a. Print out the number of observations for each month of the year. Use the .value_counts() method.

In [47]:
# Q8 code goes here

#Q8a.
print(stock_data["DayOfWeek"].value_counts())

#Q8b. 
print(stock_data["MonthOfYear"].value_counts())

Wednesday    21
Tuesday      20
Monday       20
Thursday     20
Friday       19
Name: DayOfWeek, dtype: int64
March       22
June        22
April       21
May         21
July        13
February     1
Name: MonthOfYear, dtype: int64

## Q9
### 5pts.

a. Using the .groupby method, find and print the average volume for each *day of the week*.

b. Using the .groupby method, find and print the median volume for each *month of the year*.

In [48]:
# Q9 code goes here

#9a.
stock_data.groupby("DayOfWeek").Volume.mean()

#9b.
stock_data.groupby("MonthOfYear").Volume.median()

MonthOfYear
April       49630700.0
February    97073600.0
July        32179400.0
June        32794550.0
March       74229650.0
May         32974750.0
Name: Volume, dtype: float64